.career__content {
    h2 {
        font-weight: 700;
        font-size: 35px;
        line-height: 140%;
        color: #2488B4;
        text-align: center;
        margin-bottom: 25px;
    }

    p {
        font-weight: 400;
        font-size: 23px;
        line-height: 140%;
        text-align: center;
        color: #000000;
    }
}

.career__box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 392px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: #00000029;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
    &:hover img{
        transform: translateY(0%);
    }

    p,span {
        font-weight: 400;
        font-size: 25px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        display: block;
    }

    img {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform: translateY(100%);
        transition: 0.4s;
    }
}